

.slide img{height: 65vh;}
a{text-decoration: none;
font-size: 28px;
width: 160px;
height: 60px;
line-height: 60px;
text-align: center;
transition: all .4s ease-in-out;

color: black;
justify-items: center;
justify-content: space-around;

}

a:hover{transform: translateY(-15%);
color: black;}

.row{
justify-items: center;
justify-content: space-around;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}


.card{height: 68vh;
text-align: center;
cursor:default
}

.card:hover{box-shadow: 5px 5px 20px rgba(124, 13, 158, 0.4);
transform: translateY(-5%);}

.card-body{background-size: cover;
    height: 30vh;
    
}

.cards-wrapper{display: flex;
justify-items: center;
justify-content: space-around;
background-color: black;
height: 65vh;}


h4{text-decoration: none;
    font-size: 28px;
    width: 160px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition: all .4s ease-in-out;
    
    color:red;
    }

label{color: white;
font-size: 18px;}

.col-md-12{background-color: black;
color: white;}

.container-fluid{background-color: black;
}

.navbar{justify-items: center;
    justify-content: space-around;
    align-items: center;
    }

header{
    justify-items: center;
    justify-content: space-around;
    background-color: black;
    }

nav{
    justify-items: center;
    justify-content: space-around;
    align-items: center;
}

section{
    justify-items: center;
    justify-content: space-around;
    background-color: black;
    }

footer{height: 5vh;
    justify-items: center;
    justify-content: space-around;}

.card-img-top{height: 30vh;}

.card-text{height: 10vh;}

.card-title{height: 5vh;}

button:hover{box-shadow: 5px 5px 20px rgba(158, 13, 44, 0.4);
    transform: scale(1.2);
    text-align: center;
}

.accordion{height: 65vh;}
.accordion-header{height: 10vh;
font-size: 28px;
text-align: center;}
.accordion-body{height: 30vh;
overflow:auto;}
.accordion-button collapsed{font-size: 2rem;
text-align: center;}






