

.slide img{height: 68vh}
a{text-decoration: none;
font-size: 28px;
width: 160px;
height: 60px;
line-height: 60px;
text-align: center;
transition: all .4s ease-in-out;

color: black;
}

a:hover{transform: scale(1.2);
color: black;}

.row{align-items: center;
justify-items: center;
justify-content: space-around;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}


.card{height: 68vh;
text-align: center;}

.card-body{background-size: cover;
}

.cards-wrapper{display: flex;
justify-items: center;
justify-content: space-around;
background-color: black;
height: 65vh;}

h4{text-decoration: none;
    font-size: 28px;
    width: 160px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition: all .4s ease-in-out;
    
    color:red;
    }

label{color: white;
font-size: 18px;}

.col-md-12{background-color: black;
color: white;}

.container-fluid{background-color: black;
}





